# FastAPI and Web Server
fastapi
uvicorn
fastapi[standard]

# Pydantic and Environment/Configuration Management
pydantic
pydantic-settings
python-dotenv

# Asynchronous File Operations and HTTP Requests
aiofiles
aiohttp

# Database - Prisma ORM
prisma
asyncpg  # For async support

# Document Processing
python-docx
pypdf2
llama-parse

# Language Processing
pythainlp

# Authentication
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Other Utilities
requests
numpy

# Together AI
together