# FastAPI and Web Server
fastapi
uvicorn
fastapi[standard]

# Pydantic and Environment/Configuration Management
pydantic
pydantic-settings
python-dotenv

# Asynchronous File Operations and HTTP Requests
aiofiles
aiohttp

# Database
motor
pymongo

# Document Processing
python-docx
pypdf2
llama-parse

# Language Processing
pythainlp

# Other Utilities
python-multipart
requests
numpy

# Together AI
together