# FastAPI and Web Server
fastapi
uvicorn

# Pydantic and Environment/Configuration Management
pydantic
pydantic-settings
python-dotenv

# Asynchronous File Operations
aiofiles

# Hugging Face for Embeddings
sentence-transformers
huggingface-hub

# Database
motor
pymongo

# Document Processing
python-docx
pypdf2
llama-parse

# Language Processing
pythainlp

# Other Utilities
python-multipart
requests
numpy